SUPERSET_SECRET_KEY=
SUPERSET_ADMIN_USERNAME=
SUPERSET_ADMIN_PASSWORD=
SUPERSET_ADMIN_EMAIL=

POSTGRES_USER=
POSTGRES_PASSWORD=
APP_DB_USER=superset
APP_DB_PASS=
APP_DB_NAME=superset

BROKER_URL=redis://superset_cache:6379/0

SQLALCHEMY_DATABASE_URI=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db/superset

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_MAIL_FROM=

ENABLE_OAUTH=1
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_WHITELISTED_DOMAIN=

MAPBOX_API_KEY=

APPLICATION_HOST=

APP_NAME=
OVERRIDE_APP_ICON=

CORS_ORIGINS=

GOOGLE_APPLICATION_CREDENTIALS="/host_data/gcp.json"